<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%PYTHON_INSTALL_DIR%\python.exe" arguments="main.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="60" forwardWindowsAuthToken="false">
      <environmentVariables>
        <environmentVariable name="FLASK_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
